<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= get_base_title(yield :title)%>
      
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= yield %>
    </div>
    <li><%= link_to image_tag("Ruby_on_Rails-logo.png", alt: "rails logo" , size: "20x20"), "https://www.tutorialspoint.com/ruby-on-rails/" %></li>
    
      <%= render 'layouts/footer' %>
      
  </body>
</html>
